#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.sbr
obj/
_ReSharper*/
.vs
AudioFXDesigner/Debug
AudioFXDesigner/Release
AudioRenderer/Debug
AudioRenderer/Release
Common/Debug
Common/Release
DxAudioRenderer/Debug
DxAudioRenderer/Release
PositionalAudioDemo/Debug
PositionalAudioDemo/PositionalAudioDemo/Debug
WavToMaf/Debug
WavToMaf/Release
Lib/Debug/*.lib
Lib/Release/*.lib
